/* color palette */

$primary-color: #111;
$primary-color-dark: #000000;
$primary-color-light: #484848;
$secondary-color: #ffe81f;
$secondary-color-dark: #c8b600;
$secondary-color-light: #ffff60;
$selected-color: rgb(216, 216, 216);



/* button color palette */

$text-primary: #ffffff;
$text-secondary: #000000;



/* button color palette */

$primary-button-color: $secondary-color-dark;
$primary-button-hover: rgb(185, 171, 47);



/* Fonts */
$display-font: 'Bungee', cursive;
$primary-font:  'Arvo', serif;
$header-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 