@import './../../Styles/Variables.scss';
@import './../../Styles/Animations.scss';

.navbar {
    height: 100%;
    width: 260px;
    background-color: #111;
    transition: width .5s;
    border-right: 1px solid white;

    #navbar-open {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        max-height: 20vh;
        transition: display .5s;
        animation: contentAppear .5s;
    }

    a {
        padding: .25rem;
        margin-bottom: .2rem;
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;

        
    }

    .navbar-shrink {
        text-align: left;
        margin-left: 1rem;
        margin-top: 1rem;
    }
}

.navbar-hidden {
    width: 90px;
    
    #navbar-open {
        opacity: 0;
    }
}

.navbar-link {

    padding-top: .75rem;

    img {
        width: 45px;
        height: 45px;
    }

    &:hover {
        background-color: $secondary-color-dark;
        color: $text-secondary;
    }
}

.icon {
    padding: .1rem;
    background-color: white;
    width: 45px;
    height: 45px;
}

.link-selected {
    background-color: $secondary-color-dark;
    color: $text-secondary;
}

.navbar-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#navbar-expand {
    margin-top: 1rem;
}


/* Link hover background colors */

#planets-link:hover {
    background-color: rgb(156, 241, 76);
}

#starships-link:hover {
    background-color: lightgrey;
}

#vehicles-link:hover {
    background-color: rgb(143, 210, 233);
}

#species-link:hover {
    background-color: rgb(243, 185, 78);
}

#people-link:hover {
    background-color: rgb(214, 195, 200);
}