@import './../../Styles/Variables.scss';

.navbar {
    height: 100%;
    width: 240px;
    padding: 1rem;
    background-color: #111;
    transition: width 1s;
    border-right: 1px solid white;

    #navbar-open {
        transition: display 1s;
    }

    a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
        padding: .25rem;
        margin-bottom: .2rem;
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: $secondary-color-dark;
            color: $text-secondary;
        }
    }
}



.icon {
    background-color: white;
    width: 30px;
    height: 30px;
}

.navbar-hidden {
    width: 90px;
}