@import './Styles/Variables.scss';

* {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body,
#root,
.main-content {
  height: 100%;
}

.App {
  min-height: 100%;
  height: fit-content;
  text-align: center;
  background-color: grey;
}

button {
  background-color: $secondary-color;
  border: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow:  2px 3px 3px #111;
}

button:hover {
  background-color: $secondary-color-dark;
}

.main-content {
  margin-left: 180px;
  padding: 3rem;
}

