@import './Styles/Variables.scss';

* {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body,
#root,
.main-content {
  height: 100%;
}

.App {
  min-height: 100%;
  height: fit-content;
  text-align: center;
  background-color: grey;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: $secondary-color;
  border: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow:  2px 3px 3px #111;
}

button:hover {
  background-color: $secondary-color-dark;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  padding: 1.5rem;
  background-color: #111;
}

.navbar a {
  padding: .25rem;
  margin-bottom: .2rem;
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a:hover {
  background-color: rgb(132, 132, 132);
}

.main-content {
  margin-left: 180px;
  padding: 3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
